.content {
  display: flex;

  @include respond(phone) {
    flex-direction: column;
  }
}

.product-detail-screen {
  display: flex;
  @include respond(phone) {
    flex-direction: column;
  }
}

.header {
  font-size: 1.6rem;
  height: 5rem;
  color: var(--color-white);
  background-color: var(--color-blue);

  display: flex;
  justify-content: space-around;
  align-items: center;
  @include respond(phone) {
    height: 7rem;
  }
}

.product__detail {
  display: flex;
  flex-direction: row;
  flex: 0 0 72.5%;
  margin-left: 14rem;
  margin-top: 4rem;
  margin-right: 3.2rem;
  background-color: var(--color-white);
  box-shadow: var(--filter-box-shadow);
  padding: 1rem 3rem 2.5rem 1rem;
  border-radius: 3px;

  @include respond(phone) {
    flex-direction: column;
    margin: 2rem;
    max-height: 100rem;
  }
  @include respond(tab-land) {
    margin-left: 2rem;
    max-height: 50rem;
  }
}

.product-information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 0 0 80%;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 0 0 20%;

  @include respond(tab-land) {
    flex: 0 0 30%;
  }

  @include respond(phone) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 60%;
  padding-top: 1.5rem;

  @include respond(tab-land) {
    flex: 0 0 44%;
  }
}

.overview {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;

  @include respond(tab-land) {
    justify-content: flex-start;
    align-items: center;
  }
}

.product-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
